<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Private Events, <%= @user.name %>!</h1>
    <p>
      Private Events is a great place to create and share events of any kind!
    </p>
    <p>
      Get started today at <%= root_url %>
    </p>
    <p>
      View your personal Events page at <%= @user_url %>
    </p>
  </body>
</html>