<div id='members' data-appearing-on='members'>
  <section class="section">
    <h1 class="title is-size-4-desktop is-size-5-mobile has-text-centered">Private Events Members</h1>
    <div class="columns is-desktop">
      <div class="column is-half is-offset-one-quarter">        
        <ul id="members-list" class="box has-background-grey-lighter">
          <div class="columns is-centered">
            <div class="column is-half">
              <% @users.each do |user| %>
                <div class="columns">
                  <div class="column">
                    <li><%= link_to user.name, user, id: "user-#{user.id}" %></li>
                  </div>
                </div>
              <% end %> 
            </div>
          </div>
        </ul>
      </div>
    </div>
  </section>
</div>

