  <div class="column is-half is-offset-one-quarter has-text-centered has-background-white">
    <div class="columns is-mobile">
      <div class="column is-half">
        <h4 class="subtitle">Invitees</h4>
        <ul>
          <% @event.invitations.each do |invitation| %>
            <% if current_user == invitation.host %>
              <li>
                <div class="columns is-mobile">
                  <div class="column is-half">
                    <%= link_to invitation.invitee.name, invitation.invitee, class: "has-text-grey-dark" %>
                  </div>
                  <div class="column is-half">
                    <%= button_to "uninvite", { controller: :invitations, action: :destroy, id: invitation.event.id },
                                              method: :delete, 
                                              params: {event_id: @event.id, invitee_id: invitation.invitee.id},
                                              remote: true,
                                              class: 'button is-warning has-text-weight-bold is-small',
                                              data: { confirm: "Uninvite #{invitation.invitee.name}?" } %>
                  </div>
                </div>
              </li>
            <% else %>
              <li><%= link_to invitation.invitee.name, invitation.invitee %>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="column is-half">
        <h4 class="subtitle">Attendees</h4>
        <ul>
          <% @event.invitations.where(attending: 'yes').each do |invitation| %>
          <li><%= link_to invitation.invitee.name, invitation.invitee %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
