  <h4>Invitees</h4>
  <ul>
    <% @event.invitations.each do |invitation| %>
      <% if current_user == invitation.host %>
        <li>
          <%= link_to invitation.invitee.name, invitation.invitee %>
          <%= button_to "Uninvite", { controller: :invitations, action: :destroy, id: invitation.event.id },
                                    method: :delete, 
                                    params: {event_id: @event.id, invitee_id: invitation.invitee.id},
                                    remote: true,
                                    class: 'button is-warning is-small',
                                    data: { confirm: "Uninvite #{invitation.invitee.name}?" } %>
        </li>
      <% else %>
        <li><%= link_to invitation.invitee.name, invitation.invitee %>
      <% end %>
    <% end %>
  </ul>

  <h4>Attendees</h4>
  <ul>
    <% @event.invitations.where(attending: 'yes').each do |invitation| %>
    <li><%= link_to invitation.invitee.name, invitation.invitee %></li>
  <% end %>
  </ul>