<h1>All Events</h1>
<div>
  <h3>Upcoming Events</h3>
    <ul>
      <% Event.upcoming.each do |event| %>
        <li><%= link_to event.title, event %></li>
      <% end %>
    </ul>

  <h3>Past Events</h3>
    <ul>
      <% Event.past.each do |event| %>
        <li><%= link_to event.title, event %></li>
      <% end %>
    </ul>
</div>
