<section class="section" id="top">
  <div class="columns is-mobile">
    <div class="column">
      <div class="level is-mobile">
        <h3 class="level-item title is-4">All Events</h3>
      </div>
    </div>
  </div>

  <%= render 'upcoming_events' %>

  <div class="columns is-mobile">
    <div class="column">
      <%= will_paginate @upcoming_events, class: "apple_pagination" %>
    </div>
  </div>

  <%= render 'past_events' %>
  </div>
</section>


